# OS files
.DS_Store

# IDEs
.idea/
*.iml
.vscode/

# Backend / Maven
**/target/
**/mvnw
**/mvnw.cmd
.mvn/wrapper/maven-wrapper.jar

# Frontend / Angular
**/node_modules/
**/dist/
**/.angular/
# Environment/Certs (optional: uncomment if you want to keep certs private)
obtb-certs/
